/* 

CSS - TIPO PUBLICIDADE  

*/

#topbar a {
    color: #fff;
}

#topbar a:hover {
    color: #a4cd1d;
}

.background-blue {
    background-color: #1e4b7c !important;
}

.banner-desconto h3 {
    color: #fff;
}

.btn2 {
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
}

.btn2:hover {
    background: #a4cd1d;
    color: #1e4b7c;
    font-weight: 600;
    border: 1px solid #a4cd1d;
}

.depoimentos h3 {
    font-size: 33px;
    margin-bottom: 0;
}

#footer a {
    color: #e1e1e1;
}

#footer a:hover {
    color: #a4cd1d;
}

/*BOTÃO LATERAL*/

#ssb-container {
    position: fixed;
    top: 46%;
    z-index: 1;
}

#ssb-container ul {
    padding: 0;
    margin: 0;
}

#ssb-container.ssb-anim-icons ul li {
    transition: transform 100ms;
}

#ssb-container ul li {
    line-height: 45px;
}

#ssb-container ul li {
    list-style: none;
    margin: 0;
}

#ssb-btn-0 {
    background: #a4cd1d;
}

#ssb-container ul li p {
    margin: 0;
}

#ssb-container ul li a {
    /*padding: 0 15px 0 0;*/
    display: block;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
}

#ssb-btn-0 a {
    color: #ffffff;
}

#ssb-container ul li {
    list-style: none;
}

#ssb-container.ssb-anim-icons ul li {
    transition: transform 100ms;
}

#ssb-container ul li {
    line-height: 45px;
}

#ssb-container ul li {
    list-style: none;
    margin: 0;
}

#ssb-btn-2 {
    background: #1e4b7c;
}

#ssb-btn-2 a {
    color: #fff;
}

#ssb-container ul li span {
    line-height: 45px;
    width: 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

@media only screen and (max-width: 960px) {
    #ssb-container {
        top: 60%;
    }

    #ssb-container ul li span {
        width: 35px;
        font-size: 15px;
    }
}

/*FIM BOTÃO LATERAL*/

.icon-mendidas {
    /*    background: #1e4b7c;*/
}

.item-box {
    background: rgba(164, 205, 29, 0.09);
    padding-top: 40px;
}

.item-box h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #1e4b7c;
}

.item-box li {
    line-height: 19px;
}

.text-medidas {
    font-size: 39px !important;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.t-m {
    margin-top: -120px;
}

.main p{
    font-family: "Nunito", "Helvetica", "Arial", sans-serif;
    font-size: 16px
}

#empresa{
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px
}

#galeria{
    padding: 0;
    padding-bottom: 40px
}

.breadcrumb > li + li:before {
    content: "\2022";
    font-size: 13px;
    padding-right: 6px;
    padding-left: 6px;
}


#breadcrumb{
    padding: 0;
    background: #a4cd1d;
}

.content-breadcrumb{
    width: 100%;
    display: flex;
    position: relative;
    top: 13px;
}

.bread-title, .bread-title > li a{
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    transition: 0.1s ease-in-out;
    text-transform: uppercase;

}

.bread-title > li a:hover{
    color: #000;
}

.lead{
    height: 112px;
}

.icon-medida{
    background: #a4cd1d;
    border-radius: 40px;
    margin-bottom: 30px;
    width: 80px;
    height: 74px;
    border: 5px solid transparent;
}

.icon-medida p{
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    color: #fff;

}

#contact h3{
    text-transform: uppercase;
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    font-weight: 700;

}

.text-icon{
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    position: relative;
    top: 20px;

}

a:active, a:focus, a:hover {
    text-decoration: none;
    outline: none;
    color: #a4cd1d;
}

#mainMenu nav>ul>li>a:hover{
    color: #a4cd1d;
}

.text-gallery{
    font-size: 18px;
}


.items-breadcrumb{
    float: right;

}
@media screen and (max-width:600px){
    .items-breadcrumb{
        float: none;
    }
}

.slick-arrow > i {
    font-size: 50px;
    margin: 11px;
    cursor: pointer;
}